[package]
name = "api_server"
version = "0.1.0"
edition = "2021"

[dependencies]
constants = { path = "../constants" }
chrono = "0.4.38"
tracing = "0.1.40"
tracing-subscriber = "0.3.18"
tracing-appender = "0.2.3"
dotenv = "0.15.0"
